#main {
    background-color: rebeccapurple;
}

td, th {
    padding: 8px 8px;
}

tfoot {
    font-weight: bold;
}

.priceinput {
    width: 2em;
    text-align: right;
}

.price {
    text-align: right;
}

.itemname {
    width: 50%;
}
